
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.argument {
  display: flex;
  align-items: center;
  padding: 20px;
  min-height: 450px;
  background: black;
  color: white;
}

.argument blockquote {
  color: white;
}